/* COMMON */
img{
    max-width: 100%;
}
.box{
    height: 200px;
    background-color:aquamarine;
    border: 1px solid black;
}
.wrapperme{
    width: 60%;
    margin: 0 auto;
}
ul{
    list-style-type: none;
}

.star span::before{
    display: inline-block;
    height: 1px;
    width: 10px;
    border: 2px solid black;
    background-color: #0e38b5;
}
/* HEADER */
header{
    width: 100%;
    height: 100px;
    line-height: 100px;
    background-color: #2c3e50;
    color: white;
}
.menu ul a {
    color: white;
    text-decoration: none;
}

/* MAIN */
/* sectionbootstraps */
#start-bootstrap{
    background-color: #1abc9c;
}
.textstart{
    color: white;
}
.imgstart img{
    width: 300px;
}

/* section portfolio */
.boxportfolio{
    overflow: hidden;
}
#port1{
    background-color:  #ba4b63 ;
}
#port2{
    background-color:#1ea4b6 ;
}
#port3{
    background-color: #140f0f ;
}
#port4{
    background-color:#1c83c1 ;
}
#port5{
    background-color: #0e38b5 ;
}
#port6{
    background-color:#ccb2a3 ;
}

/* section about */
#about{
    background-color: #1abc9c;
}

/* section  contact */
.boxcontact{
    border-bottom: 1px solid lightgrey;
}
.contactbutton{
    border-top: 1px solid lightgrey;
} 

/* section infotmation */
#information{
    background-color: #3a546d;
}
.textinformation a{
    color:  #1abc9c;
    text-decoration: none;
}
.textinformation li{
    line-height: 50px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid white;
}
/* FOOTER */
footer{
    height: 100px;
    background-color: #2c3e50;
}
/* BUTTON */
#bgbutton{
    background-color:#1abc9c; 
    border: none;
}
#bgborder{
    border: 1px solid white;
}

/* i.fa-star::before , i.fa-star::after{
    width: 40px;
    height: 2px;
    background-color: #140f0f;
} */
